<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cellent.Template.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="FlatFile TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="log/trace.log" formatter="Text Formatter" traceOutputOptions="None" filter="All" header="" footer="" />
      <add name="FlatFile ErrorListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="log/error.log" formatter="Text Formatter" traceOutputOptions="None" filter="Error" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp} {message}, {severity}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="FlatFile ErrorListener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="Cellent" connectionString="Server=localhost;Database=cellent;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="ErrorServiceBehavior" type="Cellent.Template.WCF.Behaviors.ErrorHandlerBehavior, Cellent.Template.WCF, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="Cellent.Template.WCF.Authorization.CellentServiceAuthorizationManager, Cellent.Template.WCF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
            <authorizationPolicies>
              <add policyType="Cellent.Template.WCF.Authorization.AuthorizationPolicy, Cellent.Template.WCF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </authorizationPolicies>
          </serviceAuthorization>
          <ErrorServiceBehavior />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="ImpersonationBehavior">
          <clientCredentials>
            <windows allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="DPENetTcpBinding" maxBufferSize="268435456" maxReceivedMessageSize="268435456">
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="Cellent.Template.Service.Services.UserService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DPENetTcpBinding" contract="Cellent.Template.Common.Interfaces.WCFServices.IUserService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8880" />
          </baseAddresses>
        </host>
      </service>
      <service name="Cellent.Template.Service.Services.RoleService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DPENetTcpBinding" contract="Cellent.Template.Common.Interfaces.WCFServices.IRoleService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8881" />
          </baseAddresses>
        </host>
      </service>
      <service name="Cellent.Template.Service.Services.ResourceService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DPENetTcpBinding" contract="Cellent.Template.Common.Interfaces.WCFServices.IResourceService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8882" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <serviceHostingEnvironment>
      <serviceActivations>
        <add relativeAddress="UserService.svc" service="Cellent.Template.Service.Services.UserService" factory="Cellent.Template.Web.ServiceHostFactories.UnityServiceHostFactory, Cellent.Template.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add relativeAddress="RoleService.svc" service="Cellent.Template.Service.Services.RoleService" factory="Cellent.Template.Web.ServiceHostFactories.UnityServiceHostFactory, Cellent.Template.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add relativeAddress="ResourceService.svc" service="Cellent.Template.Service.Services.ResourceService" factory="Cellent.Template.Web.ServiceHostFactories.UnityServiceHostFactory, Cellent.Template.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>

  <applicationSettings>
    <Cellent.Template.Service.Properties.Settings>
      <setting name="BaseApiUrl" serializeAs="String">
        <value>http://localhost:9880</value>
      </setting>
    </Cellent.Template.Service.Properties.Settings>
  </applicationSettings>
</configuration>